:root {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1024px;
  margin: 0 auto;
}

main {
  text-align: center;
  /* height: 100vh; */
  display: flex;
}
.main-content {
  margin: auto;
}

.title {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #009541;
  font-size: 3.75rem;
}
.subtitle {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  max-width: 360px;
  margin: 15px auto;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: #00160a;
}

.illustration-holder {
  margin: 15px auto;
  width: 100%;
}
.illustration {
  width: 100%;
}

.btn-home {
  margin-top: 30px;
  border-radius: 25px;
  padding: 18px 36px;
  background: #009541;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f2faf5;
  font-size: 1.125rem;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.btn-home:hover {
  background: #39b971;
}

.argument-section {
  display: flex;
  margin-bottom: 60px;
}
.argument-holder {
  flex: 1;
  text-align: center;
  margin: 0 20px;
}

.argument-heading {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #009541;
  font-size: 1.125rem;
  margin: 15px auto;
}
.argument-text {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: regular;
  line-height: 1.5rem;
  color: #00160a;
  font-size: 1rem;
}

.delivery-section {
  margin-top: 60px;
  display: flex;
  margin-bottom: 60px;
}

.delivery-illustration-holder {
  width: 50%;
  flex: 1;
  margin: 0 20px;
}
.delivery-illustration {
  display: block;
}
.delivery-text-holder {
  flex: 1;
  margin: 0 20px;
}

.delivery-text-holder .delivery-title {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #009541;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.delivery-text-holder .delivery-paragraph {
  font-family: regular;
  color: #00160a;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.products-section {
  text-align: center;
  margin-bottom: 60px;
}

.products-title {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #009541;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.produts-holder {
  display: flex;
  flex-wrap: wrap;
}
.product {
  flex: 1;
}
.product span {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: #00160a;
}

.product-image-holder {
  margin: 10px;
}
.product-image {
  max-width: 100%;
  min-width: 150px;
  height: auto;
  border-radius: 15px;
}

.testimonials-title {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #009541;
  margin-bottom: 30px;
}
.testimonials-holder {
  display: flex;
}
.testimonial {
  position: relative;
  flex: 1;
  max-width: 300px;
  margin: 20px;
  margin-top: 30px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: regular;
  color: #00160a;
}

.testimonial::before {
  content: '"';
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 4rem;
  font-style: italic;
  color: #b50046;
}
.testimonial-quote {
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  margin-bottom: 30px;
}

.testimonial-holder {
  display: flex;
}

.testimonial-client {
  display: flex;
  align-items: center;
}

.testimonial-name,
.testimonial-profession {
  display: block;
  margin: auto 0 auto 30px;
}
.testimonial-name {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  text-transform: capitalize;
  color: #b50046;
  margin-bottom: 5px;
}

.testimonial-profession {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 0.875rem;
}
.call-to-action {
  text-align: center;
  display: flex;
  align-items: center;
}

.call-to-action a {
  margin: 50px auto;
  flex: 1;
}
/* Mobile: 576px */

@media screen and (max-width: 576px) {
  main {
    display: flex;
  }
  .title {
    font-size: 36px;
  }
  .subtitle {
    max-width: 80%;
  }
  .illustration-holder {
    width: 100%;
    margin: 30px 0;
  }
  .delivery-illustration-holder {
    display: none;
  }

  .products-title {
    margin-left: 20px;
  }

  .delivery-title {
    text-align: left;
  }

  .argument-section {
    flex-direction: column;
  }
  .argument-holder {
    margin-top: 15px;
  }

  .products-section {
    margin: 0 20px 60px 20px;
  }
  .products-title {
    text-align: left;
    margin-left: 0;
  }

  .products-title {
    text-align: left;
  }

  .product-image-holder {
    max-width: 125px;
  }

  .testimonials-title {
    text-align: left;
    margin-left: 20px;
  }
  .testimonials-holder {
    flex-direction: column;
  }

  .testimonial {
    max-width: 100%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .delivery-illustration-holder {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .delivery-illustration-holder {
    display: none;
  }
}
